<div class="row row-margin-top">
    <div class="col s12 m12 l12">
        <h1>Academic</h1>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <h2>A sua plataforma de estudos</h2>
    </div>
</div>
<div class="row">
    <div class="col s12 m10 l6">
        <form #userCreateForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col s12 m12 l12">
                    <input type="text" name="name" placeholder="Nome" required [(ngModel)]="user.name"
                           #name="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <input type="email" name="email" placeholder="E-mail" required [(ngModel)]="user.email"
                           #username="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <input type="password" name="password" placeholder="Senha" required [(ngModel)]="user.password"
                           #password="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <a routerLink="/usuario/autenticacao" class="btn-large white black-text">Voltar
                    </a>
                    <button type="submit" class="btn-large white black-text"
                            [ngClass]="{'disabled': !userCreateForm.form.valid}">Concluir
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<simple-notifications [options]="options"></simple-notifications>



