@font-face {
	font-family: 'circular';
	src: url('lineto-circular-pro-book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'circular';
	src: url('lineto-circular-pro-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'circular';
	src: url('lineto-circular-pro-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}